{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'wer/css/ii.css'%}">
  <link rel="stylesheet" href="{% static 'wer/css/tryr.css'%}">
</head>
<body class="telo">
  <header class="base">
    <div class="container_wraper">
            <nav class="navbar navbar-expand-lg navbar_bg">
              <div class="container-fluids">
                <img src="{% static 'wer/img/image1.png'%}" alt="Bootstrap" width="30" height="24">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{%url 'fer'%}">главная</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{%url 'ger'%}">о нас</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="{%url 'ret'%}" role="button" >
                        место положение
                      </a>
                  </ul>
                </div>
              </div>
            </nav>
    </div>
</header>
  <main>
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel_wraper">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'wer/img/tt.png' %}" class="d-block w-100 img" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <p> 2 по цене 1.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'wer/img/ii.png' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <p> скидка 20%.</p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <section class="maps">
      <div class="container">
        <h1 class="maps__title">
          МЫ ТУТ
        </h1>
        <div class="google">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17992.055159568663!2d37.53262694257815!3d55.688867881634074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54d07d684e76b%3A0xe1e5873c03880df4!2z0KjQsNGD0YDQvNCwIEZyZXNoIERvbmVy!5e0!3m2!1sru!2snl!4v1704356335482!5m2!1sru!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35993.84455825791!2d37.531210663730796!3d55.67828985274152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54c96902a68d9%3A0xf9e1314b2a0b7b08!2z0KjQsNGD0YDQvNCwICYg0JLRi9C_0LXRh9C60LA!5e0!3m2!1sru!2snl!4v1704358125030!5m2!1sru!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35993.84455825791!2d37.531210663730796!3d55.67828985274152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54d7788e704e5%3A0xef2ba0e006c1bb77!2z0JrQtdCx0LDQsSDQnNCUINCo0LDRg9GA0LzQsA!5e0!3m2!1sru!2snl!4v1704358162182!5m2!1sru!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d143789.75940951446!2d37.31914043426515!3d55.72870508351235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab5cb7a2bf0f9%3A0x8a68c9d4e18e9fe4!2z0KHQsNC80LDRjyDQktC60YPRgdC90LDRjyDQqNCw0YPRgNC80LA!5e0!3m2!1sru!2snl!4v1704358235897!5m2!1sru!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


        </div>
      </div>
    </section>
  </main>
  <footer class="da">
    <img src="{% static 'wer/img/ter.png'%}" alt="Bootstrap" width="40%" height="40%">
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>